* {
	margin:0;
	padding:0;
}
body {
	background:#ffffff url('../images/bg.png') repeat-x scroll top left;
	margin:0 auto;
	padding:0;
	padding-top:30px;
	font-family:Arial, Helvetica, sans-serif;
}


/* wrapper */
div#wrap {
	width:90%;
	margin:0 auto;
	padding:0 10px;
}

/* site listing */
tr.odd {
	background-color: #ffffff;	
}

tr.even {
	background-color: #EEEEEE;
}
span.highlight {
	background: #B30000;
	color: #FFFFFF;
}

/* notices/errors */
#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

/* sorting */
.sort-asc {
	background: url(../images/sort-asc.png) no-repeat scroll right center transparent;
	padding-right: 15px !important;	
}

.sort-desc {
	background: url(../images/sort-desc.png) no-repeat scroll right center transparent;
	padding-right: 15px !important;
}
th a:active, th a:visited, th a:link, th a:hover {
	color: #FFFFFF;
	text-decoration: none;	
}


/* header & nav */
div.header {
	margin:0 auto;
}
div.title {
	float:left;
	width:50%;
	background-image: url(../images/logo.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 50px;
	padding-bottom: 15px;
}
div.nav {
	width:50%;
	float:right;
	padding:30px 0 0 0;
	margin:0;
}
div.nav ul {
	list-style:none;
	float:right;
	padding:0 0 0 50px;
	margin:-10px 0 0 50px;
}
div.nav ul li {
	display:inline;
	float:left;
}
div.nav ul li a, div.nav ul li a:visited {
	float:left;
	margin:0 20px;
	text-decoration:none;
	color:#ffffff;
	font-weight:normal;
	font-size:0.9em;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	border-bottom:1px solid #fff;
}
div.nav ul li a:hover {
	float:left;
	margin: 0 20px;
	text-decoration: none;
	color: #ffffff;
	font-weight: normal;
	font-family: inherit;
	padding:0;
	border-bottom:0px;	
}


/* headers */
h1, h2 {
	text-align:left;
	color:#fff;
}
h1 {
	font-size:3em;
	padding-left:10px;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#ffffff;
}
h2 {
	padding:0 0 10px 10px;
	font-size:0.9em;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h3 {
	font-size:1.5em;
	font-family:'Lucida Sans Unicode','Lucida Grande',verdana,sans-serif;
	font-weight:normal;
	color:#333333;
}
h4 {
	color:#7F0000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
	font-weight:normal;
	padding:5px;
	background-color:#e6e6e6;
	border-bottom:1px solid #cccccc;
}


/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.7em;
	font-size:0.95em;
	color:#333333;
}
ul {
	padding:0 0 20px 35px;
}
code {
	border:1px solid #7D0000;
	border-left-width:10px;
	display:block;
	padding:10px;
	margin:10px 0;
}

/* default forms */
.sitedb-form legend {
	color: #fff;
	background: #B30000;
	padding: 0.2em 1em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: smaller;
	margin-left: 15px;
}
.sitedb-form fieldset {
	background: #efe;
}
.sitedb-form label {
	width: 10em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
	font-weight: bold;
}
.sitedb-form select, .sitedb-form textarea, .sitedb-form input, .sitedb-form password {
	margin-left: 0.5em;
	width: 250px;
	border:2px solid #dddddd;
	padding:5px;
	color:#666666;
}
.sitedb-form .submit, .sitedb-form .reset, .sitedb-form button {
	margin-left: 4em;
	width: 150px;
}
.sitedb-form div {
	margin: 0.5em 0;
}
div#dosearch {
	background-color: white;
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid #AAAAAA;
	min-height: 1px;
	display: inline;
}
div#dosearch a:link, div#dosearch a:active, div#dosearch a:visited {
	color: #700000;
	text-decoration: none;
	font-size: 0.7em;
}
div#dosearch a:hover {
	color: #700000;
	text-decoration: underline;
	font-size: 0.7em;
}
.submit_search {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: medium none;
	cursor: pointer;
	font-size: x-small;
	margin: 0 5px;
	padding: 0;
	width: 20px;
}
input#query {
	background-color: transparent;
	border-width: 0;
	font-size: 13px;
	margin: 0;
	padding: 3px;
	vertical-align: top;
	width: 14em;
}

/* default tables */ 
table {
	width:100%;
	margin-bottom:10px;
}
table tr th, table tr td {
	padding:5px 10px; 
}
table tr th {
	background:#8D0000 url('../images/button.png') repeat-x scroll top left;
	color:#ffffff;
}


/* default links */
a { 
	color:#700000;
}
a:visited { 
	color:#AE0000;
} 
a:hover { 
	color:#870000;
	text-decoration:none; 
}
	

/* centeral page */
div.pagewrapper {
	margin:0 auto;
	background-image:url('../images/wrap-bg-right.png');
	background-repeat:repeat-y;
	background-position:top right;
}
div.innerpagewrapper {
	background-image:url('../images/wrap-bg-left.png');
	background-repeat:repeat-y;
	background-position:top left;
}
div.page {
	margin:0 10px;
	background-color:#ffffff;
	padding:10px 10px;
}
div.page ul {
	list-style-image:url('../images/bullet.png');
	font-size:0.95em;
}
div.page ul li {
	padding:3px 0;
}


/* content */
div.content {
	width:100%;
	float:left;
}


/* sidebar */
div.sidebar {
	width:30%;
	float:right;
}
div.sidebar ul {
	list-style:none;
	list-style-image:none;
	padding:10px 10px 25px 10px;
}
div.sidebar ul li {
	padding:7px 0;
}
div.sidebar ul li a {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	font-size:1.1em;
}

/* footer */
div.footer {
	clear:both;
	margin-top:10px;
	border-top:1px solid #dddddd;
}
div.footer p {
	text-align:center;
	color:#999999;
	font-size:0.7em;
	font-family:"Trebuchet MS", Verdana, Arial;
	padding:0;
}
div.footer p a {
	color:#999999;
}
div.footer a:hover {
	color:#999999;
	text-decoration:none;
}

/* search form */
form.searchform {
	padding-top:10px;
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}

/* errors */
.fieldWithErrors {
  padding: 10px;
  background-color: red !important;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}